<!DOCTYPE html>
<html>
<head>
        <title>Collegez</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='collegez.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='collegez-config.js') }}" type="text/javascript"></script>
</head>
<body>
        <button id="home_button" onclick="location.href=base_url">HOME</button>
</body>
</html>
